@using E_Commerce.UI.Models.Responses
@model ProductResponseDto
<div class="page-wrapper">
    <header class="header home">
        @await Component.InvokeAsync("Header")

        <div class="header-bottom d-none d-lg-block bg-gray">
            <div class="container">
                <div class="header-center">
                    <nav class="main-nav w-100">
                        @await Component.InvokeAsync("MainMenu")
                    </nav>
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!-- End .header-bottom -->
    </header>
    <!-- End .header -->

    <main class="main">
        <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                </ol>
            </nav>
            <div class="product-single-container product-single-default">
                <div class="row">
                    <div class="col-lg-5 col-md-6 product-single-gallery">
                        <div class="product-slider-container">
                            <div class="label-group">
                                <div class="product-label label-hot">HOT</div>
                                <!---->
                                <div class="product-label label-sale">
                                    -16%
                                </div>
                            </div>

                            <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
                                <div class="product-item">
                                    <img class="product-single-image" src="@Model.ImageUrl" data-zoom-image="@Model.ImageUrl" width="400" height="400" alt="product" />
                                </div>
                            </div>
                            <!-- End .product-single-carousel -->
                            <span class="prod-full-screen">
                                <i class="icon-plus"></i>
                            </span>
                        </div>

                        <div class="prod-thumbnail owl-dots">
                            <div class="owl-dot">
                                <img src="@Model.ImageUrl" width="110" height="110" alt="product-thumbnail" />
                            </div>
                        </div>
                    </div>
                    <!-- End .product-single-gallery -->

                    <div class="col-lg-7 col-md-6 product-single-details">
                        <h1 class="product-title" style="font-size: 2.5rem">@Model.Name </h1>

                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:60%"></span>
                                <!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <!-- End .product-ratings -->

                            <a href="#" class="rating-link">( 6 Reviews )</a>
                        </div>
                        <!-- End .ratings-container -->

                        <hr class="short-divider">

                        <div class="price-box">
                            <span class="old-price">@Model.Price.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</span>
                            <span class="new-price">@Model.PromotionPrice.GetValueOrDefault().ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</span>
                        </div>
                        <!-- End .price-box -->
                        <!-- End .product-desc -->

                        <ul class="single-info-list">
                            <!---->
                            <li>
                                HÀNG CÒN:
                                <strong>  @Model.Quantity</strong>
                            </li>

                            <li>
                                BẢO HÀNH:
                                <strong>  @Model.Warranty  Tháng</strong>
                            </li>

                            <li>
                                THỂ LOẠI:
                                <strong><a href="#" class="product-category">  @string.Join(", ", Model.CategoryNames)</a></strong>,
                            </li>
                        </ul>

                        <div class="product-filters-container">
                            <ul class="single-info-list">
                                <!---->
                                <li>
                                    THƯƠNG HIỆU:
                                    <strong>@Model.BrandName</strong>
                                </li>
                            </ul>
                        </div>

                        <div class="product-desc">
                            <ul class="single-info-list">
                                <!---->
                                <li>
                                    CHƯƠNG TRÌNH KHUYẾN MÃI:
                                    <strong>@Model.MetaDescription</strong>
                                </li>
                            </ul>
                        </div>


                        <div class="product-action">

                            <<a href="javascript:;" class="btn btn-dark add-cart mr-2" data-product-id="@Model.ProductId">
                                THÊM VÀO GIỎ HÀNG
                            </a>

                            <a href="@Url.Action("Index", "Cart")" class="btn btn-gray view-cart d-none">View cart</a>
                        </div>
                        <!-- End .product-action -->

                        <hr class="divider mb-0 mt-0">

                        <div class="product-single-share mb-2">
                            <label class="sr-only">Share:</label>

                            <div class="social-icons mr-2">
                                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                                <a href="#" class="social-icon social-mail icon-mail-alt" target="_blank" title="Mail"></a>
                            </div>
                            <!-- End .social-icons -->
                        </div>
                        <!-- End .product single-share -->
                    </div>
                    <!-- End .product-single-details -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .product-single-container -->

            <div class="product-single-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false">Reviews (1)</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                        <div class="product-desc-content">
                            <p>@Model.Description</p>
                        </div>
                        <!-- End .product-desc-content -->
                    </div>
                    <!-- End .tab-pane -->


                    <div class="tab-pane fade" id="product-reviews-content" role="tabpanel" aria-labelledby="product-tab-reviews">
                        <div class="product-reviews-content">
                            <h3 class="reviews-title">1 review for Men Black Sports Shoes</h3>

                            <div class="comment-list">
                                <div class="comments">
                                    <figure class="img-thumbnail">
                                        <img src="~/assets/images/blog/author.jpg" alt="author" width="80" height="80">
                                    </figure>

                                    <div class="comment-block">
                                        <div class="comment-header">
                                            <div class="comment-arrow"></div>

                                            <div class="ratings-container float-sm-right">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>

                                            <span class="comment-by">
                                                <strong>Joe Doe</strong> – April 12, 2018
                                            </span>
                                        </div>

                                        <div class="comment-content">
                                            <p>Excellent.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divider"></div>

                            <div class="add-product-review">
                                <h3 class="review-title">Add a review</h3>

                                <form action="#" class="comment-form m-0">
                                    <div class="rating-form">
                                        <label for="rating">Your rating <span class="required">*</span></label>
                                        <span class="rating-stars">
                                            <a class="star-1" href="#">1</a>
                                            <a class="star-2" href="#">2</a>
                                            <a class="star-3" href="#">3</a>
                                            <a class="star-4" href="#">4</a>
                                            <a class="star-5" href="#">5</a>
                                        </span>

                                        <select name="rating" id="rating" required="" style="display: none;">
                                            <option value="">Rate…</option>
                                            <option value="5">Perfect</option>
                                            <option value="4">Good</option>
                                            <option value="3">Average</option>
                                            <option value="2">Not that bad</option>
                                            <option value="1">Very poor</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Your review <span class="required">*</span></label>
                                        <textarea cols="5" rows="6" class="form-control form-control-sm"></textarea>
                                    </div>
                                    <!-- End .form-group -->


                                    <div class="row">
                                        <div class="col-md-6 col-xl-12">
                                            <div class="form-group">
                                                <label>Name <span class="required">*</span></label>
                                                <input type="text" class="form-control form-control-sm" required>
                                            </div>
                                            <!-- End .form-group -->
                                        </div>

                                        <div class="col-md-6 col-xl-12">
                                            <div class="form-group">
                                                <label>Email <span class="required">*</span></label>
                                                <input type="text" class="form-control form-control-sm" required>
                                            </div>
                                            <!-- End .form-group -->
                                        </div>

                                        <div class="col-md-12">
                                            <div class=" custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="save-name" />
                                                <label class="custom-control-label mb-0" for="save-name">
                                                    Save my
                                                    name, email, and website in this browser for the next time I
                                                    comment.
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                            <!-- End .add-product-review -->
                        </div>
                        <!-- End .product-reviews-content -->
                    </div>
                    <!-- End .tab-pane -->
                </div>
                <!-- End .tab-content -->
            </div>
            <!-- End .product-single-tabs -->

            <div class="products-section pt-0">
                <h2 class="section-title">Gợi Ý Cho Bạn</h2>

                <div id="recommended-products" class="products-slider 5col owl-carousel owl-theme dots-top dots-small">
                    <!-- End .products-slider -->
                </div>
                <!-- End .products-section -->

                <hr class="mt-0 m-b-5" />
            </div>
        </div>
        <!-- End .container -->
    </main>
    <!-- End .main -->

    <footer class="footer bg-dark position-relative">
        @await Html.PartialAsync("_Footer")
    </footer>
    <!-- End .footer -->
</div>
<!-- End .page-wrapper -->

<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    @await Component.InvokeAsync("Menu")
</div>
<!-- End .mobile-menu-container -->

<div class="sticky-navbar">
    <div class="sticky-info">
        <a href="/">
            <i class="icon-home"></i>Home
        </a>
    </div>
    <div class="sticky-info">
        <a href="#" class="">
            <i class="icon-bars"></i>Categories
        </a>
    </div>
    <div class="sticky-info">
        <a href="wishlist.html" class="">
            <i class="icon-wishlist-2"></i>Wishlist
        </a>
    </div>
    <div class="sticky-info">
        <a href="https://www.portotheme.com/html/porto_ecommerce/my-account.html" class="">
            <i class="icon-user-2"></i>Account
        </a>
    </div>
    <div class="sticky-info">
        <a href="cart.html" class="">
            <i class="icon-shopping-cart position-relative">
                <span class="cart-count badge-circle">3</span>
            </i>Cart
        </a>
    </div>
</div>

<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/plugins.min.js"></script>
<script src="~/assets/js/jquery.plugin.min.js"></script>
<script src="~/assets/js/jquery.countdown.min.js"></script>

<!-- Main JS File -->
<script src="~/assets/js/main.min.js"></script>
<script src="~/assets/js/cart.js"></script>
<script>
    function loadRecommendedProducts() {
        const productId = "@Model.ProductId";
        const brand = "@Model.BrandName";
        $.ajax({
            url: "https://recommend-products-production-280e.up.railway.app/api",
            type: "GET",
            data: { id: productId },
            success: function (res) {
                const products = res.san_pham_goi_y || [];
                let html = '';

                products.forEach(p => {
                    const productUrl = `/User/Home/productdetail/${p.ProductId}`;
                    html += `
                    <div class="product-default inner-quickview inner-icon">
                        <figure class="img-effect">
                            <a href="/product/detail/${p.ProductId}">
                                <img src="${p.ImageUrl}" alt="${p.Name}" style="width: 172px; height: 172px;">
                            </a>
                            <div class="btn-icon-group">
                                <a href="#" class="btn-icon btn-add-cart product-type-simple">
                                    <i class="icon-shopping-cart"></i>
                                </a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <div class="category-wrap">
                                <div class="category-list">
                                    <a href="#" class="product-category">${brand || 'Không rõ'}</a>
                                </div>
                                <a href="#" title="Wishlist" class="btn-icon-wish">
                                    <i class="icon-heart"></i>
                                </a>
                            </div>
                            <h3 class="product-title">
                                <a href="${productUrl}">${p.Name}</a>
                            </h3>
                            <div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:100%"></span>
                                </div>
                            </div>
                            <div class="price-box">
                                <span class="product-price">${(p.PromotionPrice || p.Price).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</span>
                            </div>
                        </div>
                    </div>`;
                });

                const container = $("#recommended-products");

                // Destroy old carousel if already initialized
                if (container.hasClass("owl-loaded")) {
                    container.trigger("destroy.owl.carousel");
                    container.removeClass("owl-loaded owl-carousel owl-theme").html("");
                }

                container.html(html);

                // Re-initialize carousel
                container.addClass("owl-carousel owl-theme").owlCarousel({
                    items: 5,
                    margin: 20,
                    nav: true,
                    dots: true,
                    loop: true,
                    responsive: {
                        0: { items: 1 },
                        576: { items: 2 },
                        768: { items: 3 },
                        992: { items: 4 },
                        1200: { items: 5 }
                    }
                });
            },
            error: function () {
                $("#recommended-products").html("<p>Không thể tải sản phẩm gợi ý.</p>");
            }
        });
    }

    $(document).ready(function () {
        loadRecommendedProducts();
    });
</script>
