<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("_Header")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="topbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="d-flex align-items-center">
                        <div class="topbar-item">
                            <button type="button" class="button-toggle-menu me-2">
                                <iconify-icon icon="solar:hamburger-menu-broken" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>
                        <div class="topbar-item">
                            <h4 class="fw-bold topbar-button pe-none text-uppercase mb-0">Cập Nhật Thương Hiệu</h4>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-1">
                        @await Html.PartialAsync("_Topbar")
                    </div>
                </div>
            </div>
        </header>

        @await Html.PartialAsync("_SidebarRight")
        @await Html.PartialAsync("_SidebarMenu")

        <div class="page-content">
            <div class="container-xxl">
                <div class="row">
                    <form id="brand-form" method="post" enctype="multipart/form-data">
                        <div class="col-xl-9 col-lg-8 offset-xl-1">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger mt-3">
                                    @foreach (var modelState in ViewData.ModelState.Values)
                                    {
                                        foreach (var error in modelState.Errors)
                                        {
                                            <p>@error.ErrorMessage</p>
                                        }
                                    }
                                </div>
                            }

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Thông Tin</h4>
                                </div>
                                <div class="card-body">
                                    <input type="hidden" id="brand-id" value="@Model.BrandId" />
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="brand-title" class="form-label fw-bold">Cập Nhật Thương Hiệu</label>
                                                <input type="text" name="BrandName" id="brand-title" class="form-control" placeholder="Nhập tên" maxlength="110" value="@Model.BrandName" required>
                                                <small id="char-count" class="form-text text-muted">110 ký tự</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="creator" class="form-label fw-bold">Người Tạo</label>
                                            <select class="form-control" id="creator" name="creator">
                                                <option value="Admin">Admin</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-0">
                                                <label for="description" class="form-label fw-bold">Mô Tả</label>
                                                <textarea class="form-control bg-light-subtle" id="description" rows="7" maxlength="500" name="Description" placeholder="Chi tiết thương hiệu" required>@Model.Description</textarea>
                                                <small id="char-count-description" class="form-text text-muted">0/500 ký tự</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-body">
                                    <div class="p-3 bg-light mb-3 rounded">
                                        <div class="row justify-content-end g-2">
                                            <div class="col-lg-4">
                                                <button type="button" class="btn btn-outline-secondary w-100" onclick="updateBrand()">Cập Nhật</button>
                                            </div>
                                            <div class="col-lg-2">
                                                <button type="button" id="cancel-button" class="btn btn-primary w-100">Hủy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            @await Html.PartialAsync("_Footer")
        </div>
    </div>

    <script src="~/js/vendor.js"></script>
    <script src="~/js/app.js"></script>

    <script>
        const API_URL = "@ViewBag.ApiBaseUrl";
        document.getElementById("brand-title").addEventListener("input", e => {
            document.getElementById("char-count").textContent = `${e.target.value.length}/110 ký tự`;
        });

        document.getElementById("description").addEventListener("input", e => {
            document.getElementById("char-count-description").textContent = `${e.target.value.length}/500 ký tự`;
        });

        document.getElementById("cancel-button").addEventListener("click", function () {
            if (confirm("Bạn có chắc chắn hủy")) {
                window.location.href = "/Admin/Brand";
            }
        });

        async function updateBrand() {
            const brandId = document.getElementById("brand-id").value;
            const brandName = document.getElementById("brand-title").value;
            const description = document.getElementById("description").value;
            const creator = document.getElementById("creator").value;

            if (!brandName || !description) {
                alert("Vui lòng điền đầy đủ thông tin.");
                return;
            }

            const updatedBrandData = {
                BrandName: brandName,
                Description: description,
                Creator: creator
            };

            try {
                const response = await fetch(`${API_URL}/api/Brands/${brandId}`, {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(updatedBrandData)
                });

                if (response.ok) {
                    alert("Thương hiệu đã được cập nhật thành công.");
                    window.location.href = "/Admin/Brand";
                } else {
                    const errorData = await response.json();
                    alert(`Lỗi: ${errorData.message}`);
                }
            } catch (error) {
                console.error("Lỗi khi cập nhật thương hiệu:", error);
                alert("Lỗi khi cập nhật thương hiệu!");
            }
        }
    </script>
</body>
</html>
